# Common files to ignore in a Python project
*.log
.venv*
build/
dist/
__pycache__

# Common files for a python module with setuptools 
*.egg-info/
*.egg
*.egg-info
*.dist-info 
*.dist 

# Custom files to ignore in a Python project
to-do-list.md
app_logs/
videos/
OLD/
z_old/
